@using Aspose.OMR.Live.Demos.UI.Models
@using Aspose.OMR.Live.Demos.UI.Models.Common
@using Aspose.OMR.Live.Demos.UI.Resources
@model Aspose.OMR.Live.Demos.UI.Models.OMRScanViewModel
@{
	ViewBag.Title = AppStrings.OMRScanSurveyPageTitle;
	ViewBag.MetaDescription = AppStrings.OMRScanSurveyMetaDescription;
	ViewBag.JsonLd = Model.JsonLd;
	ViewBag.JsonLdHowTo = Model.JsonHowto;
	ViewBag.JsonLdFaq = Model.JsonFaq;

	// social meta tags
	ViewBag.MetaUrl = "https://products.aspose.app/omr/scan-survey";
	ViewBag.MetaImageUrl = "https://www.aspose.cloud/templates/asposeapp/images/products/logo/aspose_scan-survey-app.png";

	Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@section scripts {
	@Scripts.Render("~/scripts/Shared/Alert.js")
	
	@Scripts.Render("~/scripts/OMR/OMRScan.js")
}
@section styles {
	
	<link href="/css/OMR.css" rel="stylesheet" type="text/css" />
}
<div class="container-fluid asposetools pb5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 pt-5 pb-5" style="min-height:450px">
				<h1 id="ProductTitle">@AppStrings.OMRScanSurveyAppTitle</h1>
				<h2 id="ProductTitleSub">@AppStrings.OMRScanSurveyAppTitleSub <a href="create-survey" target="_self" style="color: white; text-decoration: underline!important">Create Survey</a> @AppStrings.OMRApplicationString</h2>

				<div id="WorkPlaceHolder">

					<div class="omrRow">
						<div class="filedrop filedrop-mvc fileplacement" id="filedrop">
							<label for="UploadFileInput-1" style="margin-top: 50px; text-decoration: underline">Drop or upload your files</label>
							<input id="omrUploadFile" type="file" class="uploadfileinput" name="UploadFileInput-1" accept=".jpg,.png,.bmp,.tiff,.gif,.jpeg">
							<div class="fileupload" style="">
								<span class="filename">
									<a onclick="removefile()">
										<label id="fileNameLabel" for="uploadfileinput" class="custom-file-upload"></label>
										<i class="fa fa-times">
										</i>
									</a>
								</span>
							</div>
						</div>
					</div>

					<div class="omrRow">
						<em class="OMRText">@AppStrings.OMRChooseOutputFormat</em>
						<div id="outputFormatContainer" class="omrTypes btn-group btn-group-lg " role="group">
							<button type="button" value="1" onclick="selectOutput(1)" class="btn btn-secondary selected">@Model.OutputFormats[0]</button>
							<button type="button" value="2" onclick="selectOutput(2)" class="btn btn-secondary">@Model.OutputFormats[1]</button>
						</div>
					</div>
					<div class="omrRowSmallerMargin convertbtn">
						<button type="button" onclick="scanOMRImage(1)" class="btn btn-success btn-lg">@AppStrings.OMRScanSurveyButton</button>
					</div>
					<div class="omrRowSmallerMargin">
						<div id="recognitionLoader" class="spinner-border text-success" role="status">
							<span class="sr-only">Loading...</span>
						</div>
						<div id="recognitionResult">
							<pre id="OMRResultText" style="max-height: 200px;"></pre>
						</div>
						<div class="omrRowSmallerMargin convertbtn" id="OMRResultBlock">
							<button id="omrCopyButton" type="button" class="btn btn-success btn-lg" onclick="copyToClibpoard()">@AppStrings.OMRCopyButton</button>
							<button id="omrDownloadButton" type="button" class="btn btn-success btn-lg">
								@AppStrings.OMRDownloadButton
								<i class="fa fa-download"></i>
							</button>
						</div>
						<div class="omrRowSmallerMargin" id="omrRecognizeLink">
							<a class="btn btn-link" target="_blank" style="color: white;" href="create-survey">Create Surveys &nbsp;<i class="fa fa-file-image-o"></i></a>
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
@{
	Html.RenderPartial("OmrOtherApps", OmrOtherAppsViewModel.OmrScanSurvey);

	

	Html.RenderPartial("HowToSection", HowToSectionModel.OMRScanSurvey);
	

	Html.RenderPartial("AppProductSection", AppProductSectionModel.OMRScanSurvey);
	Html.RenderPartial("AppFeaturesSection", AppFeaturesSectionModel.OMRScan);
	
}