
@model  LandingPageModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid header1 header2 minify-header appfamily-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>OMR File Format Solution</h1>
				<h4>On Premise APIs and free apps for OMR file formats. Scan & create your OMR images from anywhere.</h4>
			</div>
			<div class="col-md-4 tc">
				<img class=" col-xs-12" src="../img/aspose_omr-brand.png" alt="Aspose.OMR" width="320" />
			</div>
		</div>
	</div>
</div>
<div class="container-fluid productfamilypage bg-white pdb-5">
	<div class="row">
		<div class="container tc">
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>
			<h3>Aspose.OMR Cross Platform Apps Include</h3>
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_create-answersheet-app.png" alt="Aspose.OMR for .NET" />
					</div>
					<a href="/omr/create-answer-sheet"><span class="spanclass">Aspose.OMR @Model.Resources["AsposeProductFor"] <em>Create Answer Sheet</em></span> <em>Instantly create customizable ready to print OMR answer sheet images using free online app.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_create-survey-app.png" alt="Aspose.OMR for .NET" />
					</div>
					<a href="/omr/create-survey"><span class="spanclass">Aspose.OMR @Model.Resources["AsposeProductFor"] <em>Create Survey</em></span> <em>Free online app to create ready to print survey images using your favourite browser.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_create-test-app.png" alt="Aspose.OMR for .NET" />
					</div>
					<a href="/omr/create-test"><span class="spanclass">Aspose.OMR @Model.Resources["AsposeProductFor"] <em>Create Test</em></span> <em>Instantly create ready to print OMR test forms online using free online app from anywhere.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_scan-answersheet-app.png" alt="Aspose.OMR for .NET" />
					</div>
					<a href="/omr/scan-answer-sheet"><span class="spanclass">Aspose.OMR @Model.Resources["AsposeProductFor"] <em>Scan Answer Sheet</em></span> <em>Free app to scan OMR answer sheets online using your favourite browser.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_scan-survey-app.png" alt="Aspose.OMR for .NET" />
					</div>
					<a href="/omr/scan-survey"><span class="spanclass">Aspose.OMR @Model.Resources["AsposeProductFor"] <em>Scan Survey</em></span> <em>Scan OMR survey images from popular image formats using free online app from anywhere.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_scan-test-app.png" alt="Aspose.OMR for .NET" />
					</div>
					<a href="/omr/scan-test"><span class="spanclass">Aspose.OMR @Model.Resources["AsposeProductFor"] <em>Scan Test</em></span> <em>Free online app to Scan OMR test forms from popular image formats using free online from anywhere.</em></a>
				</div>
			</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_grade-calculator-app.png" alt="Aspose.OMR for .NET" />
					</div>
					<a href="/omr/grade-calculator"><span class="spanclass">Aspose.OMR @Model.Resources["AsposeProductFor"] <em>Grade Calculator</em></span> <em>Easily calculate grade of the test, exam, quiz or assignment using free online grade calculator.</em></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="spacer">&nbsp;</div>
